#body {
   
        background-color: #BFB2AA;
      }
      
      h1 {
        color: maroon;
        margin-left: 40px;

}

#h1 {
    color: brown;
    text-align: center;
}

.p {
    font-family: Jomolhari;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.li {
    float: left;
}

.a {
    display: block;
    padding: 8px;
    background-color: azure;
}