body {
  margin: 0px;
    color: #000;
    background-color: #BFB2AA;
      }
      main{
        margin-left: 20px;
        margin-right: 20px;
      }
     
      .navbar ul{
        list-style-type: none;
        background-color: #262120;
        padding: 20px;
        margin: 0px;
        overflow: hidden;
      }
      .navbar a{
        color: white;
        text-decoration: none;
        padding: 15px;
        display: flex;
        text-align: center;
      }
      .navbar a:hover {
        background-color: #1a1616;
      }
      .navbar li{
        float: left;
      }

        .text {

        display: flex;
        width: 580px;
        height: 282px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #000;
        font-family: Jomolhari;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

        
        .footer {
            background-color: #262120;
            text-align: center;
            padding: 10px;
            color: #D9D1CC;
            text-align: center;
            font-family: Jomolhari;
            font-size: 38px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }